/** 
 * /// <summary>
 * /// 		Text formatting
 * /// </summary>
 **/
h1{ font-size: 26px; }
h2{ font-size: 24px; }
h3{ font-size: 22px; }
h4{ font-size: 20px; margin-top: 0px; margin-bottom: 0px; }
p, li { font-size: 16px; }
a { color: #0505c1; }
a:hover { color: #0093dd; }



body
{
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	
	font-family: 'Itim', cursive;
}


/**
 * labeledImage:
 * - put an image in a div with this class
 *   to enable an image with a label infront
 */
.labeledImage
{
	width: 310px;
	height: 180px;
	margin: 0;
	position: relative;
	overflow: hidden;
}
.labeledImage img
{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}
/**
 * accompanyingLabel:
 * - put a div with this class after an image,
 *   inside a labeled image div to label the image
 */
.accompanyingLabel
{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	
	color: #ffffff00;
	background: #00000000;
}
.accompanyingLabel:hover
{
	color: #ffffff;
	background: #00000080;
}
.accompanyingLabel:active
{
	color: #000000;
	background: #ffffff80;
}
.accompanyingLabel *
{
	position: absolute;
	padding: 10px;
	bottom: 0;
}


	
header
{
	width: 100%;
	padding: 10px;
	
	color: #000000;
	background: #ffffff;
}



nav
{
	width: 100%;
	
	color: #ffffff;
	
	font-size: 20px;
}
nav form
{
	padding-top: 10px;
	padding-bottom: 10px;
}
nav input
{
	width: 20%;
	font-family: 'Itim', cursive;
	font-size: 20px;
}
/**
 * navContainer:
 * - encapsulate this around the nav content
 *   center them on page
 */
.navContainer
{
	text-align: center;
	padding: 10px;
}
.navButton
{
	width: 200px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	
	background: #0093dd;
	
	text-align: center;
}
.navDropdown
{
	width: 180px;
	display: none;
	position:absolute;
	
	z-index: 2;
}
.navDropdown .navButton
{
	width: 100%;
	display: block;
}
nav a
{
	color: #ffffff;
	text-decoration: none;
}
.navButton:hover
{
	background: #020260;
}
.navButton:active
{
	color: #000000;
	background: #7b7bfc;
}

/** 
 * /// <section>
 * /// 		Form styles 
 * /// </section>
 **/
input, textarea
{
	width: 100%;
	font-family: 'Itim', cursive;
	font-size: 16px;
}



footer
{
	width: 100%;
	
	color: #ffffff;
	background: #0093dd;
}
/**
 * footerContainer:
 * - encapsulate this around the footer content to center
 *   them to center of page
 */
.footerContainer
{
	text-align: center;
}
/**
 * footerPanel:
 * - panels in the footer, designed so that at least 3 of them
 *   can fit on one line
 */
.footerPanel
{
	width: 300px;
	height: 150px;
	padding: 20px 10px;
	display: inline-block;
	vertical-align: top;
}
.footerPanel p
{
	text-align: justify;
}
.footerPanel img
{
	margin-top: 25px;
}




/**
 * searchResult:
 * - a search result in the search page
 *   will be contained into this div
 */
 .searchResult
 {
	width: 975px;
	max-height: 240px;
	margin: 0 auto;
	padding: 25px;	
	overflow: hidden;
 }
 
 
/**
 * imageGallery:
 * - putting this class on a div specifies the size of the
 *   image gallery
 */
.imageGallery
{
	width: 975px;
	height: 292.5px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.imageGallery img
{
	width: 100%;
	height: auto;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 975px;
}
/**
 * imageGalleryArrows:
 * - place these divs into the imageGallery div
 *   after all the images to display arrows
 * - the arrow icons will be a unicode inside the div
 * - a further style attribute is required to align the divs
 *   left or right
 */
.imageGalleryArrows
{
	position: absolute;
	/* Center vertically
	 */
	height: 292.5px;
	line-height: 292.5px;
	
	padding-left: 25px;
	padding-right: 25px;
	
	color: #ffffff;
	text-shadow: 3px 3px #000000;
	font-size: 50px;
	
	z-index: 1;
}
.imageGalleryArrows:hover
{
	color: #808080;
}
.imageGalleryArrows:active
{
	color: #000000;
}



/** 
 * /// <section>
 * /// 		Various column styles that pages on
 * /// 		this website will use 
 * /// </section>
 **/
.column1
{
	width: 975px;
	padding: 10px;
	display: inline-block;
	
	text-align: justify;
}
.column3
{
	width: 310px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	
	text-align: justify;
}


/** 
 * /// <section>
 * /// 		For pages where columns are not necessary 
 * /// </section>
 **/
.bulletinBoard
{
	width:975px;
	padding:10px;
	margin:0 auto;
	overflow:auto;
}
.bulletinPosterLeft
{
	width:500px;
	padding:10px;
	float:left;
	text-align:justify;
}
.bulletinPosterRight
{
	width:420px;
	padding:10px;
	float:right;
}